.logo {
    height: 32px;
    margin: 16px;
    background: rgba(0, 21, 41, 0.76);
    text-align: center;
    color: white;
    font-size: 18px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}
[data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
}
